<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG Enterprises - Adicionar Serviços</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
    <link rel="stylesheet" th:href="@{/vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
</head>

<body>
    <div id="app">
      <div id="sidebar" class="active">
          <div class="sidebar-wrapper active">
              <div class="sidebar-header">
                  <div class="d-flex justify-content-between">
                      <div class="logo">
                          <a th:href="@{/}"><img th:src="@{/images/logo/logo.png}" alt="Logo" srcset=""></a>
                      </div>
                      <div class="toggler">
                          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                      </div>
                  </div>
              </div>
              <div class="sidebar-menu">
                  <ul class="menu">
                    <li class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-person"></i>
                            <span>Clientes</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a th:href="@{/clientes/add}">Cadastrar Cliente</a>
                            </li>
                            <li class="submenu-item ">
                                  <a th:href="@{/clientes}">Listar Clientes</a>
                            </li>
                        </ul>
                    </li>

                      <li class="sidebar-item  has-sub">
                          <a href="#" class='sidebar-link'>
                              <i class="bi bi-cash"></i>
                              <span>Empresas</span>
                          </a>
                          <ul class="submenu ">
                              <li class="submenu-item ">
                                  <a th:href="@{/empresas/add}">Cadastrar Empresa</a>
                              </li>
                              <li class="submenu-item ">
                                    <a th:href="@{/empresas}">Listar Empresas</a>
                              </li>
                          </ul>
                      </li>

                      <li class="sidebar-item active">
                          <a class='sidebar-link'>
                              <i class="bi bi-bag"></i>
                              <span>Cadastrar Serviço</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a th:href="@{/relatorios}" class='sidebar-link'>
                            <i class="bi bi-card-list"></i>
                            <span>Feedback</span>
                          </a>
                      </li>
                  </ul>
              </div>
              <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
          </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Cadastrar Serviço</h3>
                            <p class="text-subtitle text-muted"> Preencha os dados abaixo</p>
                        </div>
                    </div>
                </div>

                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" th:action="@{/servicos}" th:object="${objeto}" method="post">
                                            <div class="row">
                                              <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-icon">Empresa</label>

                                                    <select class="form-select" th:field="*{empresa}" id="Order" name="Order">
                                                        <option th:each="e : ${empresas}"
                                                                th:value="${e.id}"
                                                                th:text="${e.nome}"></option>
                                                    </select>
                                                </div>
                                              </div>
                                                <div class="col-md-6 col-12">
                                                  <div class="form-group has-icon-left">
                                                      <label for="first-name-icon">Nome</label>
                                                      <div class="position-relative">
                                                          <input type="text" class="form-control"
                                                              th:field="*{nome}"  maxlength="50"
                                                              placeholder="Nome"
                                                              id="first-name-icon">
                                                          <div class="form-control-icon">
                                                              <i class="bi bi-person"></i>
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                  <div class="form-group has-icon-left">
                                                      <label for="first-name-icon">Descrição</label>
                                                      <div class="position-relative">
                                                          <input type="text" class="form-control"
                                                              placeholder="Descricao"
                                                              maxlength="100" th:field="*{descricao}"
                                                              id="first-name-icon">
                                                          <div class="form-control-icon">
                                                              <i class="bi bi-envelope"></i>
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                  <div class="form-group">
                                                      <label for="first-name-icon">Preço</label>
                                                      <div class="position-relative">
                                                          <input type="text" class="form-control"
                                                              placeholder="Preço"
                                                              maxlength="10" th:field="*{preco}"
                                                              id="preco">
                                                      </div>
                                                  </div>
                                                </div>
                                                <div class="col-12 mt-2 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1">Registrar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; GG Enterprises</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/main.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript">
          $(window).load(function()
          {
           var phones = [{ "mask": "R$ ###-##"}, { "mask": "R$ ###-##"}];
            $('#preco').inputmask({
                mask: precos,
                greedy: false,
                definitions: { '#': { validator: "[0-9]", cardinality: 1}} });
          });
    </script>
</body>

</html>
